h1{
	text-align: center;
}

.lista-contatos{
	padding: 10px 5px;
}

.lista-contatos + .lista-contatos{
	border-top: 1px solid #000;
}

.lista-nome{
	font-size: 15px;
	font-weight: bold;
}

.lista-telefone,.lista-email{
	font-size: 12px;
	text-decoration: : underline;
	font-style: italic;
	padding-right: 5px;
	display: inline-block;
}

span{
	display: none;
	color:red;
}

.msg-erro{
	display: inline-block;
}